body {
  background-color: #ecdfd8;
  display: flex; 
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  margin: 0; 
  flex-direction: column; /
}

#input {
  padding: 8px;
  border-radius: 8px;
  border: 0px;
  margin-bottom: 20px;
}

#btn {
  padding: 10px;
  background-color: #181D19;
  border: 0;
  border-radius: 20px;
  color: #D5DFD6;
  cursor: pointer;
}

#btn:hover {
 background-color: #13751B;
 color: ;
}